@import 'tailwindcss';

@theme {
  --color-foreground-light: theme('colors.zinc.800');
  --color-background-light: theme('colors.zinc.300');
  --color-foreground-dark: theme('colors.zinc.300');
  --color-background-dark: theme('colors.zinc.800');

  --animate-spin-1s: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.list-layout {
  @apply flex flex-col gap-8 pl-10;

  ul& {
    @apply list-disc;
  }

  ol& {
    @apply list-decimal;
  }
}

.flex-1-0-auto {
  flex: 1 0 auto;
}

.flex-0-1-auto {
  flex: 0 1 auto;
}

.flex-0-0-auto {
  flex: 0 0 auto;
}
